@import '~normalize.css';

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  user-select: none;
}

ul, ol, dl { 
  margin:0 auto; 
  padding:0;
}
p {
  margin: 0;
}

// html, body, #app, #app>div {
//   height: 100%
// }


